<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>路飞</string>
		<key>icon</key>
		<string>icon_00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>娜美</string>
		<key>icon</key>
		<string>icon_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乔巴</string>
		<key>icon</key>
		<string>icon_02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>山治</string>
		<key>icon</key>
		<string>icon_03</string>
	</dict>
	<dict>
		<key>name</key>
		<string>索隆</string>
		<key>icon</key>
		<string>icon_04</string>
	</dict>
	<dict>
		<key>name</key>
		<string>艾斯</string>
		<key>icon</key>
		<string>icon_05</string>
	</dict>
	<dict>
		<key>name</key>
		<string>罗</string>
		<key>icon</key>
		<string>icon_06</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汉库克</string>
		<key>icon</key>
		<string>icon_07</string>
	</dict>
	<dict>
		<key>name</key>
		<string>贝波</string>
		<key>icon</key>
		<string>icon_08</string>
	</dict>
</array>
</plist>
